.page.theme_dark {
  --accent-color: #ff0070;
  --text-shadow-color: #ff0070;
  --decor-element-color: #ff0070;
  --main-text-color: #f1b2ce;
  --title-text-color-bright: #ff0070;
  --title-text-color-dark: #000028;
  --font-family: "IBM Plex mono";
  --background-image: url(../images/cover-image-dark.png);
}
.page.theme_dark .page {
  background-color: #000028;
  background-image: var(--background-image); }

.page.theme_dark .heder-title {
  color: #db00ff;
}
.page.theme_dark .decorated-zone::after {
  width: 20px;
  height: 20px;

  
}

@media (prefers-color-scheme: dark) {
  :root {
    --accent-color: #ff0070;
    --text-shadow-color: #ff0070;
    --decor-element-color: #ff0070;
    --main-text-color: #f1b2ce;
    --title-text-color-bright: #ff0070;
    --title-text-color-dark: #000028;
    --font-family: "IBM Plex mono";
    --background-image: url(../images/cover-image-dark.png);
  }
  .heder-title {
    color: #db00ff;
  }

  .decorated-zone::after {
    border: none;
    width: 20px;
    height: 20px;

   
  }
  .decorated-zone::before {
    border-bottom: 1px solid var(--decor-element-color);
    border-left: 1px solid var(--decor-element-color);
  }
  .header__theme-menu-button {
    color: var(--title-text-color-bright);
  }
  .header__theme-menu-button:active {
    outline: 1px solid var(--decor-element-color);
  }

  .header__theme-menu-button:hover {
    outline: 1px solid var(--decor-element-color);
  }
  .title-decor {
    background-color: var(--accent-color);
  }

  .footer-title {
    color: #db00ff;
  }
  .decorated-zone-footer::before {
    border-top: 1px solid var(--decor-element-color);
    border-right: 1px solid var(--decor-element-color);
  }
  .decorated-zone-footer::after {
    border-bottom: 1px solid var(--decor-element-color);
    border-left: 1px solid var(--decor-element-color);
  }
}
