
:root {
  --accent-color: #ff0070;
  --text-shadow-color:  #ff0070;
  --decor-element-color:  #ff0070;
  --main-text-color:#F1B2CE;
  --title-text-color-bright:#FF0070;
  --title-text-color-dark: #000028;
  --font-family: "IBM Plex mono";
  --background-image: url(../images/cover-image-dark.png);

}